@model IEnumerable<AspTodo.Models.TodoList>

@{
    ViewData["Title"] = "AspTodo";
}

<h1>AspTodo</h1>

<p>
    <a asp-action="Create">Add new list</a>
</p>

<h2>Todo Lists</h2>
<table class="table">
    <thead>
        <tr>
            <th>                
                Name
            </th>            
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var list in Model) {
        <tr>
            <td>
                <a asp-controller="Todo" asp-action="Index" asp-route-id="@list.Id">@Html.DisplayFor(modelList => list.Name)</a>
                @list.Id
            </td>            
            <td>     
                <form asp-action="Delete" method="post">
                    <input type="hidden" name="Id" value="@list.Id" />
                    <input type="submit" class="btn btn-danger" value="Delete" />
                </form>
                
            </td>
        </tr>
}
    </tbody>
</table>
